*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
    

}

.menu{
    margin-left: 1000px;
    margin-top: 400px;
    width: 461px;
    height: 426px;
    background: #ffffff;
    position: relative;
}

.conteiner{
    background-color: #ffffff;
}

.menu__title{
    color: #2B788B;
    margin-left: 46px;
    font-weight: 700;
    font-size: 32px;
    position: absolute;
    top: 50px;
}

.input1{
    top: 96px;
    position: absolute;
    border:0;
}

.p{
    position: absolute;
    bottom: 28px;
    margin-left: 39px;
    font-weight: 700;
    font-size: 16px;
    color: #2B788B;

}

.input__1{
    border:0;
    background: #C3DCE3;
    width: 363px;
    height: 70px;
    border-radius: 100px;
}

.input2{
    top: 200px;
    position: absolute;
    border:0;
}

.input__2{
    width: 363px;
    height: 71px;
    background: #C3DCE3;
    border:0;
    border-radius: 100px;
}

.pf{
    position: absolute;
    bottom: 34px;
    left: 39px;
    color: #2B788B;
    font-weight: 700;
    font-size: 16px;

}

.input__s{
    left: 20px;
    width: 127px;
    height: 55px;
    background: #2B788B;
    border:0;
    position: absolute;
    top: 300px;
    border-radius: 100px;
    color: #FFFFFF;

}